<!doctype html>
<html ng-app="MainApp">

<head>
    <meta charset="utf-8">
    <title>ChatApp</title>
    <meta name="description" content="Our Public Project">
    <meta name="author" content="">
    <meta name="fragment" content="!" />
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="components/toastr/toastr.min.css" />
    <link rel="stylesheet" href="kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="kendo/styles/kendo.dataviz.black.min.css" />

    <link rel='stylesheet' href='css/style.css' />
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="components/angular-strap/dist/angular-strap.min.js"></script>
    <script type="text/javascript" src="components/angular-strap/dist/angular-strap.tpl.min.js"></script>


    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

    <script type="text/javascript" src="components/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="components/spin.js/spin.js"></script>
    <script type="text/javascript" src="components/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="kendo/js/kendo.all.min.js"></script>
</head>

<body id="spinner">
    <div class="container" ng-controller="globalCtrl">
        <%- body %>
    </div>
    <script type="text/javascript" src="dist/alljavascript.min.js"></script>
</body>

</html>
